.Container {
	margin-top: 10%;
}

.Header {
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	height: 70px;
	color: #fff;
	background-color: #EEAE61;	
	border-radius: 30px 30px 0 0;

	span {
		display: inline-block;
		margin-top: 8px;
	}
}

.First-image img {
	width: 12px;
	cursor: pointer;
	padding: 0 90px 0 0;
}

.Second-image img {
	width: 20px;
	cursor: pointer;
	padding: 0 0 0 90px;
}

.Body-style {
	width: 350px;
	height: auto;
	background-color: #2E2E39;	
	margin-top: 0;
	border-radius: 0 0 30px 30px;
}

.Footer-style {
	position: relative;
	width: 350px;
	height: 80px;
	top: 10%;
	background-color: #22222B;
	border-radius: 0 0 30px 30px;
	border-top: 1px solid #9CA5B6;
	box-shadow: 0 20px 10px #14141B;
	margin-top: 30px;

	strong {
		color: #D79E5A;
		font-size: 10px;
	}
	p {
		color: #99A1B3;
		font-size: 20px;
		margin: 0;
	}
}

#myStyle {
	position: relative;
	left: 25px;
	top: 20px;
	color: #9CA5B6;
	font-size: 20px;
	text-align: left;
}

#myStyle2 {
	position: relative;
	left: -25px;
	top: -5px;
	color: #9CA5B6;
	font-size: 20px;
	text-align: right;
}

#myStyle::after {
    content: "";
    width: 86%;
    height: 1px;
    background: #434550;
    position: absolute;
    bottom: 171%;
    left: 0;
}



