.Control-style {
  display: inline-flex;
  width: 180px;
  height: 120px;
}

#First-img {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -40px;
  left: -30%;
  cursor: pointer;
}

#First-img-disable {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -40px;
  left: -30%;
  cursor: not-allowed;
}

#Middle-img {
  width: 130px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #9CA5B6;
  margin-left: auto;
  margin-right: auto;
}

#Last-img {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -40px;
  right: -32%;
  cursor: pointer;
}

#Last-img-disable {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -40px;
  right: -32%;
  cursor: not-allowed;
}